html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.box {
	background-color: #d87d7d;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box h2 {
	font-size: 1.5rem;
	font-weight: 700;
}

.box p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}

@media (max-width: 768px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {
	.container {
		grid-template-columns: 1fr;
	}
}
