.navBarWrapper {
	padding: calc(8px + 1.5625vw);
}

.navbarItem {
	position: relative;
	opacity: 0.85;
	width: calc(5px + 8vw);
	text-align: center;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.navbarItem:hover {
	opacity: 1;
}

.navbarItem::before {
	transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	height: 0.25rem;
	content: "";
	position: absolute;
	background-image: linear-gradient(
		to right,
		var(--accent-one),
		var(--accent-two)
	);
	width: 0%;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 1rem;
}

.navbarItem:hover::before {
	width: 60%;
	bottom: 10px;
}

.navbarItem p {
	font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1600 - 320)));
}
