@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #1e1e1e;
	--accent-color-one: #fa00ff;
	--accent-color-two: #38b1d8;
	--default-text-color: #fff;
}

body {
	background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	color: var(--default-text-color);
}

svg {
	fill: var(--default-text-color);
}

